import(Rcpp)
import(methods)
import(Matrix)
import(glmmrBase)
useDynLib(glmmrMCML, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(print,mcml)
S3method(summary,mcml)
importFrom("utils", "capture.output")